<h3>{{ 'inputs.form.title' | translate }}</h3>

<form>
  <div class="form-group">
    <label for="identifier">
      {{ 'inputs.form.name.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'inputs.form.name.label.placeholder' | translate }}">
  </div>

  <div class="form-group">
    <label for="identifier">
      {{ 'inputs.form.qtd.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'inputs.form.qtd.label.placeholder' | translate }}">
  </div>

  <div class="form-group">
    <label for="identifier">
      {{ 'inputs.form.expiration_date.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'inputs.form.expiration_date.label.placeholder' | translate }}">
  </div>

  <button 
    type="submit"
    class="btn btn-custom"
    (click)="save()">
    {{ 'inputs.form.submit.button' | translate }}
  </button>
</form>