<h3 class="title">{{ 'animals.list.title' | translate }}</h3>

<button 
  class="btn-custom btn"
  (click)="redirectToForm()">
  {{ 'animals.list.add_new' | translate }}
</button>

<p-table [value]="animalsList">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'animals.list.identifier_column' | translate }}</th>
      <th>{{ 'animals.list.sex_column' | translate }}</th>
      <th>{{ 'animals.list.weight_column' | translate }}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-animal>
    <tr>
      <td>{{ animal.identifierNumber }}</td>
      <td>{{ animal.sex | translate }}</td>
      <td>{{ animal.weight }}</td>
      <td class="remove-td" title="{{ 'animals.list.remove_animal' | translate }}" (click)="showDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog 
  header="{{ 'animals.list.remove_dialog.header' | translate }}" 
  [(visible)]="hasToShowDeleteDialog">
  <p>{{ 'animals.list.remove_dialog.content' | translate }}</p>

  <div class="d-flex justify-content-end">
    <button 
      class="btn-custom btn"
      (click)="removeAnimal()">
      {{ 'animals.list.remove_dialog.remove_button' | translate }}
    </button>
  </div>
</p-dialog>
