<h3>{{ 'vaccinate.form.title' | translate }}</h3>

<form>
  <div class="form-group">
    <label for="identifier">
      {{ 'vaccinate.form.identifier.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'vaccinate.form.identifier.label.placeholder' | translate }}">
  </div>

  <div class="form-group">
    <label for="identifier">
      {{ 'vaccinate.form.dosage.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'vaccinate.form.dosage.label.placeholder' | translate }}">
  </div>

  <div class="form-group">
    <label for="identifier">
      {{ 'vaccinate.form.period.label' | translate }}
    </label>

    <input 
      type="text" 
      id="identifier"
      class="form-control"
      placeholder="{{ 'vaccinate.form.period.label.placeholder' | translate }}">
  </div>

  <button 
    type="submit"
    class="btn btn-custom"
    (click)="save()">
    {{ 'vaccinate.form.submit.button' | translate }}
  </button>
</form>